{{ $baseurl := .Site.BaseURL }}
    <div>
        <section id="datecount">
          <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
          <h5 id="wc"> {{ .FuzzyWordCount }} Words </h5>
          <h5 id="readtime"> Read in about {{ .ReadingTime }} Min </h5>
        </section>
        <ul id="categories">
          {{ range .Params.topics }}
            <li><a href="{{ $baseurl }}/topics/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        <ul id="tags">
          {{ range .Params.tags }}
            <li> <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
    </div>

    <div>
        <section id="prev">
            &nbsp;{{if .Prev}}<a class="previous" href="{{.Prev.Permalink}}"><i class="icon-arrow-left"></i> {{.Prev.Title}}</a><br>{{end}}
        </section><section id="next">
            &nbsp;{{if .Next}}<a class="next" href="{{.Next.Permalink}}">{{.Next.Title}} <i class="icon-arrow-right"></i></a>{{end}}
        </section>
    </div>

    <div>
        <section id="author">
             <h4>About the Author:</h4> 
            <p>
            Devin is a PhD Candidate at the University of Maryland Center for Translational Medicine, and an ORISE Fellow at the FDA.  
            He specializes in bridging science and technology to develop innovative solutions across the healthcare industry. Devin's 
            thesis work is focused on end-to-end development of a bayesian decision support tool for Vancomycin therapeutic management in the neonatal intensive care unit.
            
            </p><p>
            Devin has authored a number of R packages encompassing general PKPD functionality, message passing and logging, interactive simulation interfaces,
            and remote execution servers. 
            </p><p>
            Devin received a BS in Biochemistry at UNC-Chapel Hill, a Master of Toxicology from North Carolina State University.
            </p>
        </section>
    </div>
